body {
    margin: 0;
    font-size: 24px;
    overflow-x: hidden; 
    font-family: 'Inter', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
}

button:hover,
button:focus,
a:hover,
a:focus {
    cursor: pointer;
}   

.button {
    --color: #000000;
    font-family: inherit;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--color);
    background-color: #fff;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 3px;
    font-weight: 500;
    color: var(--color);
    left: 50%;
    margin-left: -4em;
   }
   
   .button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 500px;
    border-radius: 50%;
   }
   
   .button:hover {
    color: #fff;
   }
   
   .button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .button:hover:before {
    top: -60px;
    left: -60px;
   }
   
   .button:active:before {
    color: #000;
    background: #ffffff;
    transition: background 0s;
   }

.margin-top-10 {
    margin-top: 10px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.padding_top_bottom {
    padding: 20px 0 20px 0;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}

.position_right {
    flex-direction: row-reverse;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-center{
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.d_block {
    display: block;
}

.text-center {
    text-align: center;
}

.line {
    width: 100%;
    border-bottom: 1px solid #0000002c;
}

/* header */

.header {

}

    .list__nav {

    }

    .ip {
        
    }
    
        .ip__item {
            font-size: 12px;
        }

        .ip__item:not(:first-child) {
            margin-right: 50px;
        }

        .ip__button {
            border: none;
            background: none;
        }

  

  

/* navigator */

.navigator {

}

    .logo-wrapper {

    }

        .logo {
            width: 250px
        }


    .navigator__list {

    }

        .navigator__item {

        }

        .navigator__item:not(:last-child) {
            margin-right: 50px;
            font-weight: 700;
        }

        .navigator__item_man {

        }

        .navigator__item_women {

        }

        .navigator__item_children {

        }

    .navigator__button {
        border: none;
        background: none;
        font-weight: 700;
    }

    .user-main {

    }

        .user-main__item {
            
        }

        .user-main__item:not(:last-child) {
            margin-right: 17px;
        }

            .user-main_mod {
                padding: 15px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            .navigator__button_search {
                background-image: url('./image/search.svg');
            }

            .navigator__button_account_bar {
                background-image: url('./image/lk.svg');
            }

            .navigator__button_busket {
                background-image: url('./image//basket.svg');
            }
    
   
/* main */

    /* slider */

    .slide {
        width: 100%;
        /* height: 100%; */
        /* object-fit: contain; */
    }

    /* firstPage */

.firstPage {

}

.title__h2 {
    font-size: 32px;
}

    .update-clothes {

    }

    .update-clothes:not(:last-child) {
        margin-bottom: 100px;
    }

        .update-clothes__list {
            
        }

            .update-clothes__item {
                font-size: 16px;
                font-weight: 700;
            }

            .update-clothes__item:not(:last-child) {
                margin-right: 30px;
            }
                .update-clothes__image-wrapper {
                    width: 310px;
                    height: 420px;
                    background-color: #f4f4f4;
                    padding: 5px 35px;
                }
                    .update-clothes__image {
                        display: block;
                        margin-top: 60%;
                        width: 100%;
                        object-fit: contain;
                    }

                .update-clothes__wrapper {
                    margin-top: 30px;

                }

                    .update-clothes__text {

                    }

                    .update-clothes__label-price-wrapper {
                        margin-top: 10px;
                    }

                        .update-clothes__label {
                            margin-right: 30px;
                            font-size: 20px;
                        }

                        .update-clothes__price {
                            font-size: 24px;
                        }

    .sports {
        padding: 30px;
        background-color: #f4f4f4;
    }

        .sports__list {
            
        }

            .sports__item {
                width: 300px;
            }
                .sports__container {
                    padding: 300px 5px 5px 5px;
                    background-color: #dfdc59;
                }
                
                .run {

                }

                .gim {

                }

                .bike {

                }

                .basketball {

                }

                .football {

                }

                .swimming {

                }

                .fighting {

                }

                .street {

                }

                .sports__text {
                    margin:  10px 0;
                }



    .blog {
        margin: 50px 0;
    }
        .blog__article {

        }

            .blog__text {
                color: #fff;
                font-size: 48px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 150px 5px;
            }

            .blog__date {
                margin-top: 30px;
                display: block;
            }
        .blog__wrapper {

        }

    .reviews {
        padding: 30px 0;
        /* background-color: #f4f4f4; */
    }

        .reviews__list {

        }

            .reviews__item {
                margin-top: 50px;
                border-bottom: 1px solid #0000002c;
                border-top: 1px solid #0000002c;
                padding: 50px 0;
                text-align: center;
            }

            .reviews__wrapper {
                width: 500px;
                margin: 0 auto;
                background-color: #fff;
            }

                    .rewiews__type {
                        display: block;
                        font-weight: 700;
                    }

                    .reviews__user-name {
                        display: block;
                    }

                    .rewiews__text {
                        display: block;
                    }

                    .text__rewiews {
                        display: block;
                    }

                    .rewiews__date {
                        display: block;
                        font-size: 14px;
                        margin-top: 30px;
                    }
        /* reviews-form */

        .reviews-form {

        }

        .reviews-form__wrapper {
            padding: 50px 30px;
            align-items: center;

        }
        .form__group {
            position: relative;
            padding: 20px 0 0;
          }

          .form__group:not(:last-child) {
            margin-bottom: 30px;
          }

          .form__field {
            font-family: inherit;
            width: 100%;
            border: none;
            border-bottom: 1px solid #000000;
            outline: 0;
            font-size: 17px;
            color: #000000;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s;
          }
          
          .form__field::placeholder {
            color: transparent;
          }
          
          .form__field:placeholder-shown ~ .form__label {
            font-size: 17px;
            cursor: text;
            top: 20px;
          }
          
          .form__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 17px;
            color: #acacac;
            pointer-events: none;
          }
          
          .form__field:focus {
            padding-bottom: 6px;

            border-width: 1px;
            border-image: linear-gradient(to right, #000000, #000000);
            border-image-slice: 1;
          }
          
          .form__field:focus ~ .form__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 17px;
            color: #000000;

          }
          
          /* reset input */
          .form__field:required, .form__field:invalid {
            box-shadow: none;
          }
/* footer */

.footer {

}

    .footer-container {
        
    }

        .footer-section {

        }

            .footer-title {

            }
            
            .footer-list {

            }

            .footer-item {

            }

            .footer-link {

            }
            
        .paragraf {

        }